body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.9rem;
  font-weight: 800;
  letter-spacing: -2px;
}
.display-1 > .mbr-iconfont {
  font-size: 7.84rem;
}
.display-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.92rem;
    font-size: calc( 2.365rem + (4.9 - 2.365) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.365rem + (4.9 - 2.365) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2.5rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #48e5c2 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #48e5c2 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #48e5c2 !important;
  border-color: #48e5c2 !important;
  color: #062821 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #062821 !important;
  background-color: #1cc59f !important;
  border-color: #1cc59f !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #062821 !important;
  background-color: #1cc59f !important;
  border-color: #1cc59f !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #48e5c2 !important;
  border-color: #48e5c2 !important;
  color: #062821 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #062821 !important;
  background-color: #1cc59f !important;
  border-color: #1cc59f !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #062821 !important;
  background-color: #1cc59f !important;
  border-color: #1cc59f !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #48e5c2 !important;
  border-color: #48e5c2 !important;
  color: #062821 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #062821 !important;
  background-color: #1cc59f !important;
  border-color: #1cc59f !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #062821 !important;
  background-color: #1cc59f !important;
  border-color: #1cc59f !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #19ae8d;
  color: #19ae8d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #062821;
  background-color: #48e5c2;
  border-color: #48e5c2;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #062821 !important;
  background-color: #48e5c2 !important;
  border-color: #48e5c2 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #19ae8d;
  color: #19ae8d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #062821;
  background-color: #48e5c2;
  border-color: #48e5c2;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #062821 !important;
  background-color: #48e5c2 !important;
  border-color: #48e5c2 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #19ae8d;
  color: #19ae8d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #062821;
  background-color: #48e5c2;
  border-color: #48e5c2;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #062821 !important;
  background-color: #48e5c2 !important;
  border-color: #48e5c2 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #48e5c2 !important;
}
.text-secondary {
  color: #48e5c2 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #48e5c2 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #101010 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #19ae8d !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #19ae8d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #cccccc !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #48e5c2 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #48e5c2;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #48e5c2;
  border-color: #48e5c2;
  color: #093f33;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #48e5c2;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fbfefe;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fbfefe;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #48e5c2;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #48e5c2;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #48e5c2;
  border-bottom-color: #48e5c2;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #48e5c2 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #48e5c2 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2348e5c2' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
hr {
  border: none;
  background-color: #48e5c2;
  height: 3px;
  width: 72px;
  position: absolute;
  top: -3.5rem;
  display: inline-block;
}
.line-title {
  width: 40px;
  height: 2px;
  background-color: #48e5c2;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.line-title-big {
  width: 72px;
  height: 3px;
  background-color: #48e5c2;
  margin-bottom: 2rem;
  display: inline-block;
}
.vertical-line:before {
  content: '';
  background-color: #48e5c2;
  height: 60px;
  width: 2px;
  position: absolute;
  top: -30px;
  left: 50%;
}
.mbr-section-btn .btn-danger,
.btn-warning,
.btn-white,
.btn-black,
.btn-secondary,
.btn-primary,
.btn-info,
.btn-success {
  position: relative;
  background-color: #ffffff;
  transform: perspective(1px) translateZ(0);
  transition: all 0.3s ease-in-out !important;
}
.mbr-section-btn .btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 50% 0;
  transition-property: transform;
  transition: 0.6s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0, 1.01);
  transform-origin: 0% 50%;
}
.btn-white {
  color: #48e5c2 !important;
}
.btn-danger:hover {
  color: #48e5c2 !important;
}
.btn-warning:hover {
  color: #ffffff !important;
}
.btn-success:hover {
  color: #ffffff !important;
}
.btn-info:hover {
  color: #ffffff !important;
}
.btn-black:hover {
  color: #000000 !important;
}
.btn-white:hover {
  color: #000000 !important;
}
.btn-secondary:hover {
  color: #48e5c2 !important;
}
.btn-primary:hover {
  color: #48e5c2 !important;
}
.btn:hover::before {
  background-color: #ffffff;
  transform: scaleX(1);
}
.btn-white {
  color: #48e5c2 !important;
}
.mbr-section-btn .btn-danger-outline {
  border-color: #48e5c2;
}
.mbr-section-btn .btn-danger-outline,
.btn-warning-outline,
.btn-white-outline,
.btn-black-outline,
.btn-secondary-outline,
.btn-primary-outline,
.btn-info-outline,
.btn-success-outline {
  position: relative;
  background-color: transparent !important;
  transform: perspective(1px) translateZ(0);
  transition: all 0.3s ease-in-out !important;
}
.btn-danger-outline {
  color: #ffffff !important;
}
.btn-secondary-outline:hover::before {
  background-color: #48e5c2 !important;
}
.btn-success-outline:hover::before {
  background-color: #ffffff !important;
}
.btn-info-outline:hover::before {
  background-color: #ffffff !important;
}
.btn-primary-outline:hover::before {
  background-color: #48e5c2 !important;
}
.btn-white-outline:hover::before {
  background-color: #ffffff !important;
}
.btn-black-outline:hover::before {
  background-color: #000000 !important;
}
.btn-black-outline:hover::before {
  background-color: #ffffff !important;
}
.btn-danger-outline:hover::before {
  background-color: #48e5c2 !important;
}
.cid-rQtQGRgRNk .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rQtQGRgRNk .nav-item:focus,
.cid-rQtQGRgRNk .nav-link:focus {
  outline: none;
}
.cid-rQtQGRgRNk .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rQtQGRgRNk .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rQtQGRgRNk .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  font-size: inherit;
}
.cid-rQtQGRgRNk .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rQtQGRgRNk .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rQtQGRgRNk .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rQtQGRgRNk .collapsed .mbr-iconfont {
  padding-left: 0rem !important;
}
.cid-rQtQGRgRNk .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-rQtQGRgRNk .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rQtQGRgRNk .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rQtQGRgRNk .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rQtQGRgRNk .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rQtQGRgRNk .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rQtQGRgRNk .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.5rem);
  }
}
.cid-rQtQGRgRNk .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rQtQGRgRNk .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rQtQGRgRNk .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rQtQGRgRNk .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rQtQGRgRNk .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rQtQGRgRNk .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rQtQGRgRNk .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rQtQGRgRNk .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rQtQGRgRNk .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rQtQGRgRNk .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rQtQGRgRNk .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rQtQGRgRNk .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rQtQGRgRNk .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rQtQGRgRNk .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rQtQGRgRNk .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rQtQGRgRNk .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rQtQGRgRNk .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rQtQGRgRNk .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rQtQGRgRNk .navbar .icons-menu {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rQtQGRgRNk .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
  opacity: 0.9;
}
.cid-rQtQGRgRNk .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rQtQGRgRNk .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rQtQGRgRNk .navbar-short {
  padding: 1rem 0 !important;
}
.cid-rQtQGRgRNk .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rQtQGRgRNk .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rQtQGRgRNk .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rQtQGRgRNk .dropdown-item.active,
.cid-rQtQGRgRNk .dropdown-item:active {
  background-color: transparent;
}
@media (max-width: 992px) {
  .cid-rQtQGRgRNk .nav-dropdown .link.dropdown-toggle {
    margin: 0rem 1rem !important;
  }
  .cid-rQtQGRgRNk .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.25em;
  }
  .cid-rQtQGRgRNk .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cid-rQtQGRgRNk .nav-link {
    margin: 0rem 1.25rem;
  }
  .cid-rQtQGRgRNk .mbr-iconfont {
    padding-right: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-rQtQGRgRNk .nav-dropdown .link.dropdown-toggle {
    margin: 1rem 1rem !important;
  }
  .cid-rQtQGRgRNk .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.25em;
  }
  .cid-rQtQGRgRNk .nav-link {
    margin: 1rem 1.25rem;
  }
  .cid-rQtQGRgRNk .mbr-iconfont {
    padding-left: 1rem;
  }
}
.cid-rQtQGRgRNk .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rQtQGRgRNk .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rQtQGRgRNk .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rQtQGRgRNk ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rQtQGRgRNk .navbar-buttons {
  text-align: center;
}
.cid-rQtQGRgRNk button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rQtQGRgRNk button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #101010;
}
.cid-rQtQGRgRNk button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rQtQGRgRNk button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rQtQGRgRNk button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rQtQGRgRNk button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rQtQGRgRNk nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rQtQGRgRNk nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rQtQGRgRNk nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rQtQGRgRNk nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rQtQGRgRNk .navbar-dropdown {
  padding: 3rem 0rem;
  position: fixed;
}
.cid-rQtQGRgRNk a.nav-link {
  font-weight: 800;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.cid-rQtQGRgRNk .mbr-iconfont {
  font-size: 1.5rem;
}
.cid-rQtQGRgRNk .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rQtQGRgRNk .icons-menu span {
  font-size: 20px;
  color: #101010;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rQtQGRgRNk .navbar {
    height: 77px;
  }
  .cid-rQtQGRgRNk .navbar.opened {
    height: auto;
  }
  .cid-rQtQGRgRNk .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rQtQGRgRNk a.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  width: 0;
  height: 2px;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  box-sizing: border-box;
}
.cid-rQtQGRgRNk a.nav-link:hover::before {
  height: 2px;
  width: 20px;
  background-color: #E9204F;
}
.cid-rQtQGRgRNk .nav-link {
  padding: 0.5rem 0rem !important;
}
@media (min-width: 767px) {
  .cid-rQtQGRgRNk .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.cid-rRBIA44EwQ {
  padding-top: 120px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/man-4.jpg");
}
.cid-rRBIA44EwQ .mbr-iconfont {
  color: #48e5c2;
  font-size: 3rem;
  transition: 0.7s;
}
.cid-rRBIA44EwQ .card-inner {
  background-color: #ffffff;
  transition: 0.7s;
  z-index: 10;
}
.cid-rRBIA44EwQ .btn {
  margin-left: 0rem;
  color: #101010 !important;
}
.cid-rRBIA44EwQ .row {
  padding-bottom: 8rem;
}
.cid-rRBIA44EwQ .link {
  margin: 0;
}
.cid-rRBIA44EwQ .card-title {
  position: relative;
  margin-bottom: 1.3rem;
  padding-bottom: 0.5rem;
}
.cid-rRBIA44EwQ .card-title:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 0;
  right: 0;
  width: 40px;
  height: 2px;
  background: #48e5c2;
  transition: 0.7s;
}
.cid-rRBIA44EwQ .card-img {
  margin-bottom: 3.2rem;
}
.cid-rRBIA44EwQ .link a {
  position: relative;
  letter-spacing: 2px;
}
.cid-rRBIA44EwQ .card:hover .card-inner {
  background-color: #48e5c2;
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.3);
}
.cid-rRBIA44EwQ .card:hover .mbr-iconfont {
  color: #ffffff !important;
}
.cid-rRBIA44EwQ .card:hover .card-title {
  color: #ffffff;
}
.cid-rRBIA44EwQ .card:hover .card-title:after {
  background: #fff;
}
.cid-rRBIA44EwQ .card:hover .mbr-text {
  color: #ffffff;
}
.cid-rRBIA44EwQ .media-container-row {
  align-items: flex-end;
}
.cid-rRBIA44EwQ .mbr-section-title {
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .cid-rRBIA44EwQ .card {
    padding: 0;
    margin-bottom: 2rem;
  }
  .cid-rRBIA44EwQ .card-inner {
    padding: 3rem 1rem;
  }
}
@media (min-width: 767px) {
  .cid-rRBIA44EwQ .card-inner {
    padding: 3.4rem 2.5rem 3.6rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .cid-rRBIA44EwQ .card {
    margin-bottom: 2rem;
  }
  .cid-rRBIA44EwQ .row {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-rRBIA44EwQ .row {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.cid-rRBIA44EwQ .card {
  position: relative;
}
.cid-rRBIA44EwQ .card-3::after {
  content: "";
  background-color: #48e5c2;
  height: 70px;
  width: 97%;
  position: absolute;
  bottom: -20px;
  z-index: 1;
}
.cid-rRBIA44EwQ .card:first-child .card-inner {
  background-color: #48e5c2;
}
.cid-rRBIA44EwQ .card:first-child .card-inner .mbr-iconfont {
  color: #fff;
}
.cid-rRBIA44EwQ .card:first-child .card-inner .card-title:after {
  background: #fff;
}
.cid-rRBIA44EwQ .btn:hover {
  color: #ffffff !important;
}
.cid-rRBIA44EwQ .block-title,
.cid-rRBIA44EwQ .mbr-section-title,
.cid-rRBIA44EwQ .line,
.cid-rRBIA44EwQ .mbr-section-btn {
  color: #48e5c2;
  text-align: left;
}
.cid-rRBIA44EwQ .mbr-maintext,
.cid-rRBIA44EwQ .mbr-section-btn {
  color: #333333;
}
.cid-rRBIA44EwQ .mbr-text,
.cid-rRBIA44EwQ .link {
  text-align: left;
  color: #333333;
}
.cid-rRBIA44EwQ .card-title,
.cid-rRBIA44EwQ .card-img {
  text-align: left;
  color: #333333;
}
.cid-rRBIOaOVKu {
  padding-top: 135px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .cid-rRBIOaOVKu {
    padding-top: 90px;
    padding-bottom: 50px;
  }
  .cid-rRBIOaOVKu .box {
    margin-top: 2.5rem;
  }
}
.cid-rRBIOaOVKu .box {
  background-image: url("../../../assets/images/pikaso-texttoimage-people-working-in-a-marketing-agency-with-green-tu-1-1216x832.jpg");
  background-size: cover;
  background-position: center;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 3px 20px 0px rgba(25, 0, 7, 0.25);
}
.cid-rRBIOaOVKu .icon-wrap {
  border: 4px solid #ffffff !important;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  text-shadow: 0px 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.cid-rRBIOaOVKu .icon-wrap span {
  padding-left: 8px;
}
.cid-rRBIOaOVKu .mbr-media span {
  font-size: 28px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #48e5c2 !important;
}
.cid-rRBIOaOVKu .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rRBIOaOVKu .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rRBIOaOVKu .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rRBIOaOVKu .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rRBIOaOVKu a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rRBIOaOVKu a.close:hover {
  color: #ffffff;
}
@media (max-width: 576px) {
  .cid-rRBIOaOVKu {
    padding-top: 63px;
    padding-bottom: 35px;
  }
  .cid-rRBIOaOVKu .box {
    height: 250px;
  }
}
.cid-rRBIOaOVKu .mbr-text {
  color: #747474;
  margin-bottom: 2rem;
}
.cid-rRBIOaOVKu .mbr-section-title {
  margin-bottom: 2rem;
}
.cid-rRBIOaOVKu .left-block {
  padding-right: 4rem;
}
@media (min-width: 767px) {
  .cid-rRBIOaOVKu .row {
    padding: 0 1rem;
  }
}
.cid-rRBIOaOVKu .btn {
  margin-left: 0rem;
}
.cid-rRBIOaOVKu H1 {
  color: #333333;
  text-align: left;
}
.cid-rRBIOaOVKu .mbr-text,
.cid-rRBIOaOVKu .mbr-section-btn {
  color: #333333;
  text-align: left;
}
.cid-rRBIOaOVKu H3 {
  color: #48e5c2;
  text-align: left;
}
.cid-rRBIQ0rba1 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-rRBIQ0rba1 h2 {
    margin-bottom: 1rem;
  }
  .cid-rRBIQ0rba1 .wrapper {
    display: flex;
    flex-direction: column;
  }
  .cid-rRBIQ0rba1 .mbr-section-btn {
    margin-left: 1px;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) and (min-width: 992px) {
  .cid-rRBIQ0rba1 .container-column {
    text-align: center;
  }
}
@media (min-width: 767px) {
  .cid-rRBIQ0rba1 .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .cid-rRBIQ0rba1 .container {
    position: relative;
  }
  .cid-rRBIQ0rba1 h2 {
    margin: 0;
  }
}
.cid-rRBIQ0rba1 .btn {
  margin: 0;
  position: relative;
  padding: 0.7rem 2.4rem;
  color: #101010 !important;
}
.cid-rRBIQ0rba1 hr {
  width: 40px;
  height: 2px;
  top: -2.6rem;
}
.cid-rRBIQ0rba1 .mbr-section-subtitle {
  color: #48e5c2;
}
.cid-rRBIQ0rba1 .btn:hover {
  color: #ffffff !important;
}
.cid-rRBIQ0rba1 .container-column,
.cid-rRBIQ0rba1 h2 {
  color: #000000;
}
.cid-u9Xgp8NaTG {
  background-color: #ffffff;
}
.cid-u9Xgp8NaTG .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-u9Xgp8NaTG .carousel-item > div {
  width: 100%;
}
.cid-u9Xgp8NaTG h4 {
  margin-top: 1rem;
  margin-bottom: 1.3rem;
  font-weight: 900;
}
.cid-u9Xgp8NaTG .carousel-item.active,
.cid-u9Xgp8NaTG .carousel-item-next,
.cid-u9Xgp8NaTG .carousel-item-prev {
  display: flex;
}
.cid-u9Xgp8NaTG .carousel-controls a {
  transition: opacity 0.5s;
  font-size: 1.2rem;
}
.cid-u9Xgp8NaTG .carousel-controls a span {
  padding: 15px;
  border-radius: 50%;
  opacity: 0.9;
}
.cid-u9Xgp8NaTG .carousel-controls a:hover span {
  opacity: 1;
}
@media (min-width: 768px) {
  .cid-u9Xgp8NaTG .carousel-controls a {
    width: 5%;
  }
}
.cid-u9Xgp8NaTG .mbr-section-subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #70747f;
}
.cid-u9Xgp8NaTG .img-block {
  display: flex;
  flex-direction: column;
}
.cid-u9Xgp8NaTG img {
  width: 100%;
  margin: 0;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  background-size: cover;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}
.cid-u9Xgp8NaTG .mbr-text {
  position: relative;
}
.cid-u9Xgp8NaTG li {
  background-color: transparent;
  width: 11px !important;
  height: 11px !important;
  border: 1px solid #e0e0e0 !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.cid-u9Xgp8NaTG li.active {
  background-color: #48e5c2;
  width: 14px !important;
  height: 14px !important;
  border: none !important;
}
.cid-u9Xgp8NaTG .carousel-indicators {
  position: absolute;
  margin-top: 2rem;
  bottom: 0rem;
  align-items: center;
}
.cid-u9Xgp8NaTG ol {
  margin-bottom: 0;
}
.cid-u9Xgp8NaTG .carousel-indicators li {
  border: none;
  border-radius: 50%;
}
.cid-u9Xgp8NaTG .carousel {
  display: flex;
  overflow: hidden;
  padding-bottom: 4rem;
}
@media (max-width: 767px) {
  .cid-u9Xgp8NaTG {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
@media (min-width: 767px) {
  .cid-u9Xgp8NaTG {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .cid-u9Xgp8NaTG .row {
    margin: 0;
  }
}
.cid-u9Xgp8NaTG .title-block {
  margin-top: 1.3rem;
  bottom: -1rem;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.cid-u9Xgp8NaTG .desk {
  transition: 0.3s;
  font-weight: 500;
}
.cid-u9Xgp8NaTG .img-block:hover img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
  transform: scale(1.1);
}
.cid-u9Xgp8NaTG .img-block:hover .link {
  border-bottom: 1px solid currentColor;
}
.cid-u9Xgp8NaTG .img-block:hover .desk {
  color: #101010;
}
.cid-u9Xgp8NaTG .wrapper-img {
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  overflow: hidden;
}
@media (max-width: 992px) {
  .cid-u9Xgp8NaTG .img-card {
    margin-top: 2rem;
  }
}
.cid-u9Xgp8NaTG .link {
  border-bottom: 1px solid #e0e0e0;
  display: inline;
  padding-bottom: 3px;
  transition: all 0.3s;
}
.cid-u9Xgp8NaTG .mbr-fallback-image.disabled {
  display: none;
}
.cid-u9Xgp8NaTG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u9Xgp8NaTG .title-block,
.cid-u9Xgp8NaTG .signature {
  text-align: center;
}
.cid-u9Xgp8NaTG .mbr-text,
.cid-u9Xgp8NaTG .subtitle-link {
  text-align: center;
}
.cid-u9Xgp8NaTG .signature {
  color: #48e5c2;
}
.cid-u9Xgp8NaTG .subtitle-link {
  color: #48e5c2;
}
.cid-u9XzmurtEa {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-u9XzmurtEa h1 {
  margin-bottom: 0.2rem;
}
.cid-u9XzmurtEa .container-fluid {
  padding: 0;
}
.cid-u9XzmurtEa img {
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 10;
}
.cid-u9XzmurtEa .mbr-figure {
  height: 100%;
}
.cid-u9XzmurtEa .col-lg-6 {
  padding: 0;
}
.cid-u9XzmurtEa .mbr-text {
  color: #747474;
}
.cid-u9XzmurtEa hr {
  width: 40px;
  height: 2px;
  top: -1rem;
}
.cid-u9XzmurtEa .mbr-section-subtitle {
  margin-bottom: 3.5rem;
}
.cid-u9XzmurtEa .mbr-section-subtitle-1 {
  color: #48e5c2;
}
.cid-u9XzmurtEa .mbr-section-subtitle-2 {
  margin-top: 4.2rem;
  color: #48e5c2;
  text-align: left;
}
.cid-u9XzmurtEa .mbr-figure::after {
  content: '';
  background-color: #48e5c2;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: -20px;
  right: -5px;
  z-index: 1;
}
@media (max-width: 992px) {
  .cid-u9XzmurtEa .mbr-figure::after {
    bottom: -15px;
    right: 0px;
  }
}
@media (min-width: 767px) {
  .cid-u9XzmurtEa .row {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .cid-u9XzmurtEa .media-content {
    padding-left: 2.2rem;
  }
}
@media (max-width: 992px) {
  .cid-u9XzmurtEa .left-block {
    margin-top: 4.5rem;
  }
}
.cid-u9XzmurtEa .btn {
  color: #101010 !important;
}
.cid-u9XzmurtEa .btn:hover {
  color: #ffffff !important;
}
.cid-u9XzmurtEa .line-title {
  width: 40px;
  height: 2px;
  background-color: #48e5c2;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.cid-u9XzmurtEa .vertical-line:before {
  content: '';
  background-color: #48e5c2;
  height: 60px;
  width: 2px;
  position: absolute;
  top: -30px;
  left: 50%;
}
.cid-u9XzmurtEa .mbr-fallback-image.disabled {
  display: none;
}
.cid-u9XzmurtEa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u9XydDpZ12 {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-u9XydDpZ12 h2 {
    margin-bottom: 1rem;
  }
  .cid-u9XydDpZ12 .wrapper {
    display: flex;
    flex-direction: column;
  }
  .cid-u9XydDpZ12 .mbr-section-btn {
    margin-left: 1px;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) and (min-width: 992px) {
  .cid-u9XydDpZ12 .container-column {
    text-align: center;
  }
}
@media (min-width: 767px) {
  .cid-u9XydDpZ12 .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .cid-u9XydDpZ12 .container {
    position: relative;
  }
  .cid-u9XydDpZ12 h2 {
    margin: 0;
  }
}
.cid-u9XydDpZ12 .btn {
  margin: 0;
  position: relative;
  padding: 0.7rem 2.4rem;
  color: #101010 !important;
  border-width: 2px;
  letter-spacing: -0.2px;
}
.cid-u9XydDpZ12 hr {
  width: 40px;
  height: 2px;
  top: -2.6rem;
}
.cid-u9XydDpZ12 .mbr-section-subtitle {
  color: #48e5c2;
}
.cid-u9XydDpZ12 .btn:hover {
  color: #ffffff !important;
  transform: perspective(1px) translateZ(0);
}
.cid-u9XydDpZ12 .line-title {
  width: 40px;
  height: 2px;
  background-color: #48e5c2;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.cid-u9XydDpZ12 .vertical-line:before {
  content: '';
  background-color: #48e5c2;
  height: 60px;
  width: 2px;
  position: absolute;
  top: -30px;
  left: 50%;
}
.cid-u9XydDpZ12 .mbr-section-btn .btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition-property: transform;
  transition: 0.6s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0, 1.01);
}
.cid-u9XydDpZ12 .btn-secondary-outline:hover::before {
  background-color: #48e5c2 !important;
}
.cid-u9XydDpZ12 .btn-success-outline:hover::before {
  background-color: #ffffff !important;
}
.cid-u9XydDpZ12 .btn-info-outline:hover::before {
  background-color: #ffffff !important;
}
.cid-u9XydDpZ12 .btn-primary-outline:hover::before {
  background-color: #48e5c2 !important;
}
.cid-u9XydDpZ12 .btn-white-outline:hover::before {
  background-color: #ffffff !important;
}
.cid-u9XydDpZ12 .btn-black-outline:hover::before {
  background-color: #ffffff !important;
}
.cid-u9XydDpZ12 .btn-danger-outline:hover::before {
  background-color: #48e5c2 !important;
}
.cid-u9XydDpZ12 .btn:hover::before {
  background-color: #ffffff;
  transform: scaleX(1);
}
.cid-u9XydDpZ12 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u9XydDpZ12 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-rRBIM0VtWR {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rRBIM0VtWR .mbr-text {
  color: #767676;
}
.cid-rRBIM0VtWR .mbr-iconfont {
  color: #48e5c2;
  font-size: 3rem;
  transition: 0.3s;
}
.cid-rRBIM0VtWR .link {
  margin: 0;
}
.cid-rRBIM0VtWR .link a {
  position: relative;
  letter-spacing: 2px;
}
.cid-rRBIM0VtWR .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-rRBIM0VtWR .card {
    margin-bottom: 3rem;
  }
}
.cid-rRBIM0VtWR .card-img {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rRBIM0VtWR .row {
    padding: 0 1rem;
  }
}
.cid-rRBIM0VtWR .card-inner {
  transition: 0.3s;
  border-bottom: 3px solid;
  border-color: rgba(72, 229, 194, 0);
  padding: 2.2rem 1.4rem;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0);
}
.cid-rRBIM0VtWR .card-title {
  transition: 0.3s;
}
.cid-rRBIM0VtWR .card:hover .card-inner {
  border-bottom: 3px solid #48e5c2;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.12);
}
.cid-rRBIM0VtWR .card:hover .card-title {
  color: #48e5c2;
}
.cid-rRBIM0VtWR .card:hover .mbr-iconfont {
  color: #000000;
}
@media (min-width: 767px) {
  .cid-rRBIM0VtWR .row {
    margin: 0;
  }
}
.cid-rRBIM0VtWR .mbr-text,
.cid-rRBIM0VtWR .link {
  color: #333333;
}
.cid-u9XxUSZ1Qn {
  padding-top: 15px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-u9XxUSZ1Qn .mbr-text {
  color: #767676;
}
.cid-u9XxUSZ1Qn .mbr-iconfont {
  color: #48e5c2;
  font-size: 3rem;
  transition: 0.3s;
}
.cid-u9XxUSZ1Qn .link {
  margin: 0;
}
.cid-u9XxUSZ1Qn .link a {
  position: relative;
  letter-spacing: 2px;
}
.cid-u9XxUSZ1Qn .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-u9XxUSZ1Qn .card {
    margin-bottom: 3rem;
  }
}
.cid-u9XxUSZ1Qn .card-img {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-u9XxUSZ1Qn .row {
    padding: 0 1rem;
  }
}
.cid-u9XxUSZ1Qn .card-inner {
  transition: 0.3s;
  border-bottom: 3px solid;
  border-color: rgba(72, 229, 194, 0);
  padding: 2.2rem 1.4rem;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0);
}
.cid-u9XxUSZ1Qn .card-title {
  transition: 0.3s;
}
.cid-u9XxUSZ1Qn .card:hover .card-inner {
  border-bottom: 3px solid #48e5c2;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.12);
}
.cid-u9XxUSZ1Qn .card:hover .card-title {
  color: #48e5c2;
}
.cid-u9XxUSZ1Qn .card:hover .mbr-iconfont {
  color: #000000;
}
@media (min-width: 767px) {
  .cid-u9XxUSZ1Qn .row {
    margin: 0;
  }
}
.cid-u9XxUSZ1Qn .mbr-fallback-image.disabled {
  display: none;
}
.cid-u9XxUSZ1Qn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u9XxUSZ1Qn .mbr-text,
.cid-u9XxUSZ1Qn .link {
  color: #333333;
}
.cid-ua2vL9h94D {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ua2vL9h94D .underline .line {
  width: 2rem;
  height: 1px;
  background: #48e5c2;
  display: inline-block;
}
.cid-ua2vL9h94D .card .card-block {
  background: #48e5c2;
  padding: 2rem;
  position: relative;
}
.cid-ua2vL9h94D .card .card-block:before {
  position: absolute;
  left: calc(50% - 7px);
  bottom: -7px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #48e5c2;
  content: '';
  display: block;
}
.cid-ua2vL9h94D .card .mbr-author {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 0;
  border-top: none;
  padding: 1.25rem;
  background: transparent;
}
.cid-ua2vL9h94D .card .mbr-author .mbr-author-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.cid-ua2vL9h94D .card .mbr-author .mbr-author-img.img-margin {
  margin-right: 1.25rem;
}
.cid-ua2vL9h94D .card .mbr-author .mbr-author-img img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-ua2vL9h94D .card .mbr-author .name-wrap {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-ua2vL9h94D .card .mbr-author .name-wrap .mbr-author-name p {
  margin-bottom: 0px;
}
.cid-ua2vL9h94D .card .mbr-author .name-wrap .mbr-author-desc p {
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  .cid-ua2vL9h94D .card:not(.last-card) {
    margin-bottom: 2rem;
  }
}
.cid-ua2vL9h94D .mbr-fallback-image.disabled {
  display: none;
}
.cid-ua2vL9h94D .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ua2vL9h94D .main-title {
  color: #333333;
}
.cid-ua2vL9h94D .mbr-section-subtitle,
.cid-ua2vL9h94D .underline {
  color: #48e5c2;
}
.cid-ua2vL9h94D .mbr-author-name P {
  color: #333333;
}
.cid-ua2vL9h94D .mbr-author-desc P {
  color: #48e5c2;
}
.cid-ua2vL9h94D .card-block P {
  color: #333333;
}
.cid-ua3hjly5Hd {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-ua3hjly5Hd h2 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 767px) {
  .cid-ua3hjly5Hd .container {
    position: relative;
  }
  .cid-ua3hjly5Hd .row {
    margin: 0;
  }
  .cid-ua3hjly5Hd h2 {
    margin: 0;
  }
}
.cid-ua3hjly5Hd .btn {
  margin: 0;
  position: relative;
  padding: 0.7rem 2.4rem;
}
.cid-ua3hjly5Hd .mbr-section-subtitle {
  color: #48e5c2;
}
.cid-ua3hjly5Hd .line-title {
  width: 40px;
  height: 2px;
  background-color: #48e5c2;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.cid-ua3hjly5Hd .vertical-line:before {
  content: '';
  background-color: #48e5c2;
  height: 60px;
  width: 2px;
  position: absolute;
  top: -30px;
  left: 50%;
}
.cid-ua3hjly5Hd .mbr-fallback-image.disabled {
  display: none;
}
.cid-ua3hjly5Hd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ua3hjly5Hd .mbr-text {
  color: #333333;
}
.cid-ua3hjly5Hd .container-column,
.cid-ua3hjly5Hd h2 {
  text-align: left;
}
.cid-ua3gKY7CUc {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-ua3gKY7CUc img {
  width: 100%;
  transition: all 0.6s ease-in-out;
  height: 260px;
  object-fit: cover;
}
.cid-ua3gKY7CUc .link-wrapper {
  margin-bottom: 1rem;
}
.cid-ua3gKY7CUc .link-wrapper .mbr-iconfont {
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 8px;
  font-size: 0.8rem;
  color: #000000;
}
.cid-ua3gKY7CUc .img-wrapper .mbr-iconfont {
  font-size: 3rem;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 1rem;
  background: linear-gradient(to left, #48e5c2, #48e5c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-ua3gKY7CUc .card-wrapper {
  background: #ffffff;
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-ua3gKY7CUc .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-ua3gKY7CUc .first:hover:before {
  content: none;
}
.cid-ua3gKY7CUc .first:before {
  position: absolute;
  top: -1rem;
  z-index: -1;
  left: 0rem;
  width: 300px;
  height: 200px;
  background: linear-gradient(to left, #48e5c2, #48e5c2);
  content: '';
}
.cid-ua3gKY7CUc .last:hover:after {
  content: none;
}
.cid-ua3gKY7CUc .last:after {
  position: absolute;
  bottom: -1rem;
  right: 0rem;
  width: 300px;
  z-index: -1;
  height: 200px;
  background: linear-gradient(to left, #48e5c2, #48e5c2);
  content: '';
}
.cid-ua3gKY7CUc .mbr-section-text {
  color: #333333;
}
.cid-ua3gKY7CUc .card {
  z-index: 1;
  min-height: 200px;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.3s;
}
.cid-ua3gKY7CUc .card .img-wrapper {
  overflow: hidden;
}
.cid-ua3gKY7CUc .card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.cid-ua3gKY7CUc .card:hover .mbr-iconfont {
  color: #ffffff !important;
  border-color: #ffffff;
  -webkit-background-clip: transparent;
  -webkit-text-fill-color: unset;
}
.cid-ua3gKY7CUc .card:hover .card-wrapper {
  background: linear-gradient(to left, #48e5c2, #48e5c2);
  color: #ffffff !important;
}
.cid-ua3gKY7CUc .card:hover .card-wrapper .mbr-section-text {
  color: #ffffff !important;
}
.cid-ua3gKY7CUc .mbr-section-title {
  color: #333333;
}
.cid-ua2AKuZ5bg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ua2AKuZ5bg .mbr-fallback-image.disabled {
  display: none;
}
.cid-ua2AKuZ5bg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-ua2AKuZ5bg .container {
    padding: 0 16px;
  }
}
.cid-ua2AKuZ5bg .row {
  justify-content: center;
  margin: 0 20px;
}
@media (max-width: 992px) {
  .cid-ua2AKuZ5bg .row {
    margin: 0 10px;
  }
}
.cid-ua2AKuZ5bg .row .card {
  padding: 0;
}
.cid-ua2AKuZ5bg .row .card:first-child {
  padding-right: 10px;
}
@media (max-width: 992px) {
  .cid-ua2AKuZ5bg .row .card:first-child {
    padding: 0;
  }
}
.cid-ua2AKuZ5bg .title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #48e5c2;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .cid-ua2AKuZ5bg .title-wrapper {
    height: auto;
    margin-bottom: 10px;
  }
}
.cid-ua2AKuZ5bg .title-wrapper .title-wrap {
  padding: 30px 30px 70px;
}
@media (max-width: 992px) {
  .cid-ua2AKuZ5bg .title-wrapper .title-wrap {
    padding: 20px 20px 30px;
  }
}
.cid-ua2AKuZ5bg .title-wrapper .title-wrap .icon-wrapper {
  margin-bottom: 20px;
}
.cid-ua2AKuZ5bg .title-wrapper .title-wrap .icon-wrapper .mbr-iconfont {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: #333333;
  color: #48e5c2;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.cid-ua2AKuZ5bg .title-wrapper .title-wrap .mbr-section-title {
  margin-bottom: 0;
}
.cid-ua2AKuZ5bg .title-wrapper .mbr-copy {
  padding: 30px;
  margin-bottom: 0;
  border-top: 1px solid #48e5c2;
}
@media (max-width: 992px) {
  .cid-ua2AKuZ5bg .title-wrapper .mbr-copy {
    padding: 20px;
  }
}
.cid-ua2AKuZ5bg .list-wrapper {
  border: 1px solid #48e5c2;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.cid-ua2AKuZ5bg .list-wrapper .item {
  border-bottom: 1px solid #48e5c2;
}
.cid-ua2AKuZ5bg .list-wrapper .item:last-child {
  border: none;
}
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper {
  border-radius: 0 !important;
  overflow: hidden;
}
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a {
  display: block;
}
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a:hover .card-box,
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a:hover .card-box {
  background-color: #48e5c2;
}
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a:hover .card-box .card-title,
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a:hover .card-box .card-title {
  color: #333333;
}
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a:hover .card-box .mbr-iconfont,
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a:hover .card-box .mbr-iconfont {
  color: #333333;
  transform: rotate(-45deg);
}
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a .card-box {
  padding: 22px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a .card-box {
    padding: 15px 20px;
  }
}
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a .card-box .card-title {
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}
.cid-ua2AKuZ5bg .list-wrapper .item .item-wrapper a .card-box .mbr-iconfont {
  font-size: 18px;
  color: #48e5c2;
  transition: all 0.3s ease-in-out;
}
.cid-ua2AKuZ5bg .item-menu-overlay .btn-wrapper {
  margin-top: 0;
}
.cid-ua2AKuZ5bg .mbr-section-title {
  color: #192227;
}
.cid-ua2AKuZ5bg .mbr-copy {
  color: #192227;
  text-align: center;
}
.cid-ua2AKuZ5bg .card-title {
  color: #fdfcfc;
}
.cid-ua2AKuZ5bg .mbr-section-title,
.cid-ua2AKuZ5bg .icon-wrapper {
  text-align: center;
}
.cid-ua2AKuZ5bg .card-title,
.cid-ua2AKuZ5bg .iconfont-wrapper {
  color: #333333;
}
.cid-ua2sqm0MF6 {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-ua2sqm0MF6 .col-sm-6 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .cid-ua2sqm0MF6 .card {
    margin-bottom: 2rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .cid-ua2sqm0MF6 .card {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-ua2sqm0MF6 .card-wrapper {
    padding: 0 1.5rem;
  }
}
@media (min-width: 767px) {
  .cid-ua2sqm0MF6 .row {
    margin: 0;
  }
}
.cid-ua2sqm0MF6 .container {
  border-top: 1px solid #ebebeb;
  padding-top: 2rem;
}
.cid-ua2sqm0MF6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ua2sqm0MF6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
